test_solns/

# python
__pycache__
*.egg-info/

# jupyter
.ipynb_checkpoints/

# log files
logs/
*.log

# ide
.vscode
.project
.pydevproject

# data files
Module02_YourFirstClassifier/nearest_neighbors/cifar10/cifar-10-python.npz
